# Auto detect text files and perform LF normalization
* text=auto
.ipynb_checkpoints/
*.jpeg
*.jpg
*.txt
*.csv
data-all
*.cache
Classifier SKlearn/datap
pwd
Panoptic-segmentation-SAM/sam_vit_h_4b8939.pth
